/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--pageBackgrColor);
  background-image: var(--pageBackgrGradient);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--mainFont);
}

.header {
  max-inline-size: 696px;
  max-block-size: 364px;
  margin-block-start: 102px;
  margin-inline-start: auto;
  margin-inline-end: auto;

  font-family: var(--cubicFont), system-ui;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #fff;
  outline: 2px solid #000;
}

.header__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__link {
  display: block;
  margin-block-start: 136px;
  font-size: 65px;
  text-decoration: none;
}

.header__link:focus {
  outline: none;
}

.header__title {
  margin-block-start: 20px;
  font-size: 23px;
  line-height: normal;
}

.theme-menu__list {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: repeat(3, min-content);
  margin-inline-start: 315px;
  margin-block-start: 24px;
  margin-block-end: 25px;
}

.theme-menu__item:last-child {
  margin-block-end: 13px;
}

.theme-menu__button {
  position: relative;
  margin-block-end: 10px;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.4s;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  inline-size: 0%;
  block-size: 2px;
  transition: inline-size 0.3s, background-color 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: #000;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inline-size: 14px;
  block-size: 14px;
  inset-inline-start: -20px;
  animation-name: buttonPointer;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes buttonPointer {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(4px);
  }
}