/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  color: var(--mainTextColor);
  font-family: var(--mainFont);
  font-size: var(--mainFontSize);
  background-color: var(--pageBackgrColor);
  background-image: var(--pageBackgrGradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-block-size: 100dvb;
  font-variation-settings: var(--textWeight);
}

.header {
  margin-inline: auto;
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--borderColor);
  font-family: var(--cubicFont), system-ui;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--headerBackgrColor);
  inline-size: calc(48.6111111vw);
  min-inline-size: 375px;
}

.header__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__link {
  display: block;
  margin-block-start: 136px;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-decoration: none;
}

.header__link:focus {
  outline: none;
}

.header__title {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.header__theme-menu {
  margin-block-start: 25px;
}

.theme-menu__list {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: repeat(3, min-content);
  row-gap: 12px;
  margin-inline-start: 315px;
  margin-block-end: 23px;
}

.theme-menu__item {
  font-size: var(--buttonsFontSize);
  line-height: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  line-height: 14px;
  text-transform: uppercase;
  background-color: var(--buttonBackgrColor);
}

/* Состояния кнопок в header */

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.theme-menu__button:focus {
  outline: none;
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.theme-menu__button::after {
  content: '';
  display: block;
  transition: inline-size 0.3s, background-color 0.3s;
  inline-size: 0%;
  block-size: 2px;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--borderColor);
}
.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: buttonPointer 0.5s linear infinite alternate;
  inline-size: 14px;
  block-size: 14px;
  inset-inline-start: -20px;
}

@keyframes buttonPointer {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(4px);
  }
}

.main {
  margin-inline: auto;
  inline-size: 48.6111111vw;
  min-inline-size: 375px;
}

.card__box {
  margin-inline: auto;
  margin-block: 50px;
  background-color: var(--textBackgrColor);
}

.card__subtitle {
  border: 2px solid var(--borderColor);
  padding-inline: 10px;
  padding-block: 5px;
  font-size: var(--mainFontSize);
  line-height: 21px;
}

.card__image__and__text {
  position: relative;
  border-right: 2px solid var(--borderColor);
  border-left: 2px solid var(--borderColor);
}

.card__image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Режими смешивания для картинок */

.main .card__box:nth-child(1) .card__image {
  filter: grayscale(50%) blur(2px) brightness(120%) contrast(150%);
}
.main .card__box:nth-child(2) .card__image {
  filter: grayscale(100%);
}
.main .card__box:nth-child(3) .card__image {
  filter: blur(5px);
}
.main .card__box:nth-child(4) .card__image {
  filter: invert(100%);
}
.main .card__box:nth-child(5) .card__image {
  filter: sepia(100%);
}
.main .card__box:nth-child(6) .card__image {
  filter: contrast(200%);
}
.main .card__box:nth-child(7) .card__image {
  filter: saturate(200%);
}
.main .card__box:nth-child(8) .card__image {
  filter: hue-rotate(90deg);
}

.card__lable {
  position: absolute;
  top: 26px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--cubicFont);
  font-size: var(--buttonsFontSize);
  line-height: 14px;
  text-transform: uppercase;
  text-shadow: var(--labelTextShadow);
  mix-blend-mode: hard-light;  
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__lable {
      text-shadow: none;
      -webkit-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
  }
}

.card__content {
  border: 2px solid var(--borderColor);
}

.card__text-container {
  padding-inline: 25px;
  line-height: 21px;
}

.card__text {
  padding-block-start: 25px;
  padding-block-end: 27px;
  font-size: var(--mainFontSize);
}

.reaction__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  margin-inline-end: 6px;
  border: none;
  padding: 0;
  background-color: var(--textBackgrColor);
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--borderColor);
}

.card__like-button {
  position: relative;
  width: 130px;
  border: 2px solid var(--borderColor);
  padding-block: 11px;
  font-family: var(--cubicFont);
  font-size: var(--buttonsFontSize);
  line-height: 12px;
  background-color: var(--textBackgrColor);
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--buttonBefore);
  transition: width 0.5s ease-in-out;
}

.card__like-button:hover::before{
  width: 100%;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--boxShadowColor);
}

.button__text {
  color: var(--buttonColor);
  mix-blend-mode: difference;
}

.save__button {
  position: relative;
  display: flex;
  align-items: center;
  width: clamp(19.375rem, 18.737rem + 2.723vw, 21.188rem);
  margin-inline: auto;
  border: 2px solid var(--borderColor);
  padding: 0;
  font-weight: 400;
  background-color: var(--textBackgrColor);
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.save__button-floppy {
  margin-inline-start: 19px;
  margin-block: 15px;
  color: var(--floppyColor);
  mix-blend-mode: difference;
}


.save__button-text {
  padding-inline-start: 8px;
  padding-inline-end: 21px;
  color: var(--buttonColor);
  font-family: var(--cubicFont);
  font-size: var(--buttonsFontSize);
  line-height: var(--buttonsLineHeight);
  mix-blend-mode: difference;
}

.save__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--buttonBefore);
  transition: width 0.5s ease-in-out;
}

.save__button:focus {
  outline: none;
}

.save__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--boxShadowColor);
}

.save__button:hover::before {
  width: 100%;
}

.save__button:hover .save__button-text {
  mix-blend-mode: difference;
}

.save__button:hover .save__button-floppy {
  mix-blend-mode: difference;
}

/* Анимации сердца */

.sparks {
  opacity: 0;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
  transition-delay: 0.05s;
}

.card__icon-button:hover .main-body {
  fill: var(--heartMainBodyAndCoreColorHover);
}

.card__icon-button:not(:hover) .main-body {
  transition: none;
}

.card__icon-button .core {
  fill: transparent;
}

.card__icon-button:hover .core {
  fill: var(--heartMainBodyAndCoreColorHover);
}

.card__icon-button:not(:hover) .core {
  transition: fill 0.3s ease;
  transition-delay: 0.03s;
}

.card__icon-button:active .core {
  fill: red;
}

.card__icon-button:active .main-body {
  fill: red;
  transition: fill 0.3s ease;
}

.like-icon.is-liked .core{
  fill: red;
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body{
  fill: red;
  transition: fill 0.3s ease;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour{
  fill: var(--heartContourColorActive);
  transition: fill 0.3s ease;
  transition-delay: 0.06s;
}

.like-icon:not(.is-liked) .contour{
  fill: var(--heartContourMainBodyCoreColor);
  transition: fill 0.1s ease;
}

.dialog {
  position: fixed;
  border: 2px solid var(--borderColor);
  padding: 0;
  background-color: var(--textBackgrColor);
  inline-size: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

.dialog__content {
  display: flex;
  align-items: center;
  padding: 30px;
}

.dialog__content .save__button-floppy {
  margin-inline-start: 0;
  margin-block: 0;
}

.dialog-text {
  width: 232px;
  padding-inline-start: 20px;
  color: var(--mainTextColor);
  font-family: var(--cubicFont);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  width: calc(100% - 60px);
  margin-inline: 30px;
  margin-block-end: 30px;
  border: 2px solid var(--borderColor);
  color: var(--buttonColor);
  text-transform: uppercase;
  background-color: var(--textBackgrColor);
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.dialog__button-text {
  padding-block: 10px;
  font-family: var(--cubicFont);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.dialog__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--buttonBefore);
  transition: width 0.5s ease-in-out;
}

.dialog__button:hover::before{
  width: 100%;
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--boxShadowColor);
}

/* Кейфрейм для сердца */

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heartSize 0.3s ease-in 0.1s 1 normal;
}

@keyframes heartSize {
 
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

/* Кейфрейм для sparks */

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: heartSparksOpacity 0.3s ease-in 0.3s 1 normal;
}

@keyframes heartSparksOpacity {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media ( 376px < width < 1440px ) {
  .theme-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline-start: 0;
  }
}

@media ( width <= 375px ) {

  .main {
    inline-size: 100vw;
  }

  .header__link {
    margin-block-start: 120px;
  }

  .theme-menu__list {
    margin-inline-start: 154px;
  }

  .card__lable {
    top: 23px;
    right: 11px;
  }

  .card__image__and__text {
    max-block-size: 375px;
  }

  .save__button {
    flex-direction: column;
    justify-content: center;
    margin-block-end: 100px;
  }

  .save__button-text {
    padding-inline: 20px;
    padding-block-end: 15px;
  }

  .save__button-floppy {
    width: 28px;
    height: 28px;
    margin-inline-start: 0;
    margin-block-end: 9px;
  }

  .dialog[open] .save__button-floppy {
    width: 39px;
    height: 39px;
  }
}